<h1>Karyawan List</h1>
<a href="{% url 'karyawan_new' %}">Buat Data Karyawan Baru</a><br /><br />
<table border="1">
  <tr>
    <th>Nama</th>
    <th>NIP</th>
    <th>alamat</th>
    <th>divisi</th>
    <th>jenis kelamin</th>
    <th>Action</th>
  </tr>
  {% for karyawan in object_list %}
  <tr>
    <td>{{ karyawan.name }}</td>
    <td>{{ karyawan.nip }}</td>
    <td>{{ karyawan.alamat }}</td>
    <td>{{ karyawan.divisi }}</td>
    <td>{{ karyawan.jeniskelamin }}</td>
    <td>
      <a href="{% url 'karyawan_detail' karyawan.id %}">Detail</a>
      <a href="{% url 'karyawan_edit' karyawan.id %}">Edit</a>
      <a href="{% url 'karyawan_delete' karyawan.id %}">Delete</a>
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="3"><b>Data is empty! Please, add data first.</b></td>
  </tr>
  {% endfor %}
</table>
